html, body, #root {
  height: 100%;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
  min-height: 100%;
}

.Left-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 300px;
  background: linear-gradient(12deg, black, #212121b3);
}

.Playlist {
  flex-grow: 3;
  background: linear-gradient(45deg, black, transparent);
}

.Login-container {
  height: 300px;
}

.Player-container {
  flex: 1;
}

.App-logo {
  height: 100px;
  margin-bottom: 20px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.User-container {
  padding: 30px 0px;
}